@use '../utilities/variables' as c;
@import '../utilities/mixins';
.footer {
	$background: #fa9500;
	background-color: $background;
	width: 100%;
	height: auto;
	padding: 40px;
	color: white;
	h3 {
		font-size: c.$title-small;
		@include desktop {
			font-size: c.$title-medium;
		}
	}
	p {
		font-size: c.$text-small;
		@include desktop {
			font-size: c.$text-medium;
		}
	}
	.social {
		@include flexCenter(row, center, center);
		gap: 40px;
		padding-bottom: 40px;
	}
}
