@use '../utilities/variables' as c;
@import '../utilities/mixins';
.navbar {
	width: auto;
	height: 100px;
	@include flexCenter(row, space-between, center);
	color: c.$primary-text-color;
	padding: 15px;
	position: sticky;
	top: -1px;
	p {
		font-size: 1.5em;
		padding-left: 30px;
	}
}

.icons {
	display: flex;
	gap: 15px;
	@include buttonStyle;

	.shopping {
		color: c.$primary-text-color;
		position: relative;
		div {
			width: 16px;
			height: 16px;
			background-color: c.$secondary-color;
			border-radius: 50%;
			font-size: 1em;
			font-weight: bold;
			position: absolute;
			top: -6px;
			right: -3px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
