@use '../utilities/variables' as c;
@import '../utilities/mixins';
.main {
	color: c.$primary-text-color;
	padding: 0 60px;
	max-width: 100vw;
	article {
		width: auto;
		display: grid;
		grid-template-columns: 50% auto;
		justify-content: space-between;
		min-height: 80vh;
	}
}

.impact {
	padding-top: 50px;
	@include flexCenter(column, space-evenly, flex-start);
	row-gap: 25px;
	h1 {
		font-size: 3em;
		padding: 0px;
		margin: 0px;
	}
	p {
		font-size: 1.5em;
	}
	button {
		width: 12vw;
		padding: 20px;
		background: c.$quaternion-color;
		border-style: none;
		border-radius: 35px;
		color: white;
		font-size: 1em;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.image {
	img {
		width: 25vw;
		border-radius: 19px;
	}
}

.product {
	width: 100%;
	height: auto;
	padding: 60px;

	h2 {
		font-size: 1.7em;
	}
	.healthcare {
		padding-bottom: 60px;
		h2 {
			font-weight: 300;
			padding-bottom: 60px;
		}
		.card {
			@include flexCenter(row, center, center);
			width: auto;
			height: auto;
			column-gap: 100px;
			row-gap: 80px;
			flex-wrap: wrap;
		}
		.productCard {
			width: 16vw;
			height: auto;
			background-color: c.$secondary-color;
			color: c.$primary-text-color;
			padding: 20px;
			border-radius: 8px;
			.icon {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				padding-bottom: 12px;
				img {
					width: 28px;
					height: 28px;
				}
			}
			.productImage {
				width: 100%;
				height: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 12vw;
					height: 30vh;
					object-fit: cover;
					border-radius: 9px;
				}
			}
		}
	}
	.furniture {
		@extend .healthcare;
		.productCard {
			background-color: c.$tertiary-color;
			color: white;
		}
	}
}

.aboutUs {
	padding-bottom: 60px;
	h2 {
		font-weight: bold;
		padding-bottom: 60px;
	}
	.mision {
		@include flexCenter(row, space-evenly, center);
		.earth {
			width: 30vw;
			display: flex;
			gap: 40px;
			color: #e86424;
			img {
				object-fit: contain;
			}
			p {
				text-align: center;
				font-size: 1.5em;
			}
		}
	}
	.innovation {
		@extend .earth;
	}
}

.gallery {
	h2 {
		font-weight: bold;
		padding-bottom: 60px;
	}
	.galleryImages {
		@include flexCenter(row, space-between, center);
		img {
			width: 28vw;
			height: 45vh;
			object-fit: cover;
			object-position: 5px 35%;
			border-radius: 16px;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.location {
	color: #e86424;
	h2 {
		padding: 60px 0px;
	}
	.map {
		@include flexCenter(row, center, center);
		padding-bottom: 50px;
	}
	p,
	h3 {
		font-size: 1.5em;
	}
}
