$primary-color: #ffefe7;
$secondary-color: #ffdac6;
$tertiary-color: #babd8d;
$quaternion-color: #fa9500;
$primary-text-color: #7c6a0a;

$text-small: 1em;
$text-medium: 1.2em;
$text-large: 1.5em;

$title-smaller: 1.2em;
$title-small: 1.5em;
$title-medium: 2em;
$title-large: 2.5em;
